<div style="text-align: center">
    <hr />
    
    <p>To add new users click here
      <a routerLink="/clients">here</a>
    </p>

    <p>You can also see the 
      <a routerLink="/clients">list of customers</a>
    </p>

    <p>and customer
      <a routerLink="/operator"> operators</a>
    </p>

    <p><a routerLink="/acessorios">accessories</a>
        for devices
    </p>

    <p>Clients
      <a routerLink="/cities"> Cities</a>
    </p>
    
    <hr />
    
    <app-messages></app-messages>
    <router-outlet></router-outlet>
  
  </div>
  