<div class="add">
  <h2>Add a Clients</h2>

  <div>
    <p>
      <label>Client name:
      <input #clientName />
    </label>
    </p>

    <p>
      <label>Address:   
      <input #clientAddress />
    </label>
    </p>
    
    
    <label>Postal Code:
      <input #clientPostal />
    </label>
    
    <p>
      <label>Phone Mark:
        <input #clientMark />
      </label>
    </p>
    
    <p>
      <label>Operator:
          <input #clientOperator />
      </label>
    </p>
  </div>

  <button (click)="add(clientName.value, clientAddress.value, clientPostal.value, clientMark.value, clientOperator.value)">
      add
  </button>

</div>

<div>
  <h2>List of Clients</h2>

  <div class="List">
    <ul class="Clients">
      <li *ngFor="let client of clients" >
      
        <a routerLink="/detail/{{client.id}}">
          <span class="badge">{{client.id}}</span> {{client.name}}
        </a>
      
        <button class="delete" title="delete client"
          (click)="delete(client)">x</button>
      </li>
    </ul>
  </div>

  <hr/>
</div>

<app-messages></app-messages>
<router-outlet></router-outlet>