/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

h2{
  color: rgba(207, 42, 21, 0.877);
  font-family: Cambria Math;
}

.Clients a {
  color: #888;
  text-decoration: none;
  position: relative;
}
 
.Clients a:hover {
  color:#607D8B;
}

.Clients {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.Clients li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.Clients li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.Clients li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.Clients .text {
  position: relative;
  top: -3px;
}
.Clients .badge {
  display: inline-block;
  font-size: small;
  font-family: Cambria Math;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: rgba(207, 42, 21, 0.877);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  
}
a{
  width: 20%;
}

.List{
  margin-top: 2%; 
  margin-left: 40%;
}


hr{
  margin-top: 2%;
  margin-bottom: 2%;
}