<h2>List of Clients</h2>

<div>
  <label>Client name:
    <input #clientName />
  </label>

  <br>
  
  <label>Address:
    <input #clientAddress />
  </label>

  <br>
  
  <label>Postal Code:
    <input #clientPostal />
  </label>

  <br>
  
  <label>Phone Mark:
    <input #clientMark />
  </label>

  <br>
  
  <label>Operator:
      <input #clientOperator />
  </label>
</div>

<button (click)="add(clientName.value, clientAddress.value, clientPostal.value, clientMark.value, clientOperator.value)">
    add
</button>

<div class="List">
  <ul class="Clients">
    <li *ngFor="let client of clients">
  
      <a routerLink="/detail/{{client.num_processo}}">
        <span class="badge">{{client.num_processo}}</span> {{client.name}}
      </a>
  
      <button class="delete" title="delete client"
        (click)="delete(client)">x</button>
    </li>
  </ul>
</div>
