<hr/>

<h2>Add a Clients</h2>

<div>
  <p>
    <label>Client name:
    <input #clientName />
  </label>
  </p>

  <p>
    <label>Address:   
    <input #clientAddress />
  </label>
  </p>
  
  
  <label>Postal Code:
    <input #clientPostal />
  </label>
  
  <p>
    <label>Phone Mark:
      <input #clientMark />
    </label>
  </p>
  
  <p>
    <label>Operator:
        <input #clientOperator />
    </label>
  </p>
</div>

<button (click)="add(clientName.value, clientAddress.value, clientPostal.value, clientMark.value, clientOperator.value)">
    add
</button>

<hr/>

<h2>List of Clients</h2>


<ul class="Clients">
  <li *ngFor="let client of clients">
  
    <a routerLink="/detail/{{client.num_processo}}">
      <span class="badge">{{client.num_processo}}</span> {{client.name}}
    </a>
  
    <button class="delete" title="delete client"
      (click)="delete(client)">x</button>
  </li>
</ul>


<hr/>

<app-messages></app-messages>
<router-outlet></router-outlet>