h2{
    color: rgba(207, 42, 21, 0.877);
    font-family: Cambria Math;
    margin-bottom: 3px;
  }
  
  label {
    padding-right: 10%;
    display: inline-block;
    width: 3em;
    margin: .5em, 0;
    color: rgba(5, 5, 5, 0.747);
    font-weight: bold;
  }
  
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  
  button:hover {
    background-color:rgba(207, 42, 21, 0.877);
  }
  
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  hr{
    margin-top: 2%;
    margin-bottom: 2%;
  }