.operator{
  padding-top: 2%; 
  padding-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2 {
  color: rgba(207, 42, 21, 0.877);
  font-family: Cambria Math;
  text-align: center;
  margin-bottom: 2;
}
h4 {
  position: relative;
}

.col-1-4 {
  margin: 2%;
  width: 20%;
  padding: 10px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: hsl(0, 62%, 45%);
  border-radius: 2px;
}

.col-1-4:hover {
  background: #eee;
  cursor: pointer;
  color: hsl(0, 62%, 45%);
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}