<div class= "operator">
  <hr />
  <h2>Operator</h2>

  <div style="text-align: center">
    <div class="grid grid-pad">
      <a *ngFor = "let client of operator" 
        (click)= "selectOperators('operator.name')" 
        class="col-1-4">
        {{client.name}}
      </a>
    </div>
  </div>

  <br><br><br><br>
  <hr/>

</div>


<div *ngIf="selectedOperator !== ''">
  <div class= List *ngFor="let client of filteredOperator">
    <a routerLink="/detail/{{client.id}}">
      {{client.name}}
    </a>
  
  </div>
</div>
