<div class= "operator">
  <hr />
  <h2>Operator</h2>

  <div style="text-align: center">
    <div class="grid grid-pad">
      <a *ngFor = "let operator of operators" 
        (click)= "selectOperator(operator.name)" 
        class="col-1-4">
        {{operator.name}}
      </a>
    </div>
  </div>

  <br><br><br><br>
  <hr/>

</div>


<div *ngIf="filteredClient !== ''">
  <div class= List *ngFor="let client of filteredClient">
    <a routerLink="/detail/{{client.id}}">
      {{client.name}}
    </a>
  
  </div>
</div>
