<div style="text-align: center">

  <img class="logo" width="200" alt="Logo" src="https://st2.depositphotos.com/2527057/10398/v/950/depositphotos_103986182-stock-illustration-spartan-helmet-sign.jpg" align= "left">
  
  <br><br><br>

  <h1>
    <em> Welcome to {{ title }}! </em> 
  </h1>

  <nav >
    <a routerLink="/clients">clients</a>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/skill">Skill</a>
    <a routerLink="/resources">Posts</a>
  </nav>

  <br><br><br>
  
  <router-outlet></router-outlet>

</div>
